In [106]:
import pandas as pd

In [107]:
df=pd.read_csv('athlete_events.csv')

In [108]:
df.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

¿Quién es el más jóven que haya ganado medalla de oro?
¿Quién es el más jóven que haya ganado medalla de plata?
¿Quién es el más jóven que haya ganado medalla de bronce?
¿Quién ha ganado más medallas?

In [109]:
oro=df[df['Medal']=='Gold']
oro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [110]:
edadOro=oro['Age'].min()
edadOro

13.0

In [111]:
jovenoro=df[df['Age']==edadOro]
jovenoro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
5224,2962,Zsuzsa Almssy,F,13.0,158.0,60.0,Hungary,HUN,1964 Winter,1964,Winter,Innsbruck,Figure Skating,Figure Skating Women's Singles,NaN
7500,4191,Tojohanitra Tokin'aina Andriamanjatoarimanana,F,13.0,140.0,52.5,Madagascar,MAD,2004 Summer,2004,Summer,Athina,Swimming,Swimming Women's 50 metres Freestyle,NaN
11209,6129,Eleni Avlonitou,F,13.0,165.0,54.0,Greece,GRE,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 400 metres Freestyle,NaN
11210,6129,Eleni Avlonitou,F,13.0,165.0,54.0,Greece,GRE,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 800 metres Freestyle,NaN
11211,6129,Eleni Avlonitou,F,13.0,165.0,54.0,Greece,GRE,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 200 metres Individual Medley,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265497,132855,"Wei Ling ""Joscelin"" Yeo",F,13.0,165.0,56.0,Singapore,SGP,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 400 metres Freestyle,NaN
265498,132855,"Wei Ling ""Joscelin"" Yeo",F,13.0,165.0,56.0,Singapore,SGP,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 100 metres Butterfly,NaN
265499,132855,"Wei Ling ""Joscelin"" Yeo",F,13.0,165.0,56.0,Singapore,SGP,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 200 metres Individual Medley,NaN
265800,132998,"Yip Tsz Wa ""Yvonne""",F,13.0,157.0,47.0,Hong Kong,HKG,2004 Summer,2004,Summer,Athina,Swimming,Swimming Women's 100 metres Breaststroke,NaN
268602,134381,Klaus Zerta,M,13.0,165.0,48.0,Germany,GER,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Pairs,Gold

In [113]:
#df[df['Age']==edadOro & df['Medal']=='Gold']
df[oro & jovenoro]

TypeError: unsupported operand type(s) for &: 'float' and 'bool'

In [ ]:
empleados[empleados['First Name']=='Maria']